
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

h2 {
    font-family: 'Poppins', sans-serif;
}

.about__paragraph {
    font-family: 'Open Sans', sans-serif;
    color: #6d6d6d;
}
.about__description {
    margin-top: 50px;
    height:100vh;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.about__content {
    display:flex;
    
}

.about__headings {
    margin-left: 46px;
}
.about__images {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-top: 20px;
}

.about__profile {
    height: 403px;
    margin-left: 5px;
}

.about__felling {
    padding-left: 50px;
}