@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    font-family:'Poppins', sans-serif; 
}

form {
    background-color: #51a259;
    padding: 31px;
    border: 1px solid #51a259;
}

.callback__layout{
    margin-top: 50px;
    height:100vh;
    display: flex;
    justify-content: center;
}

.callback__header {
    font-size: 32px;
    font-family:'Poppins', sans-serif;
    text-align: center; 
}
.callback__type {
    font-size: 20px;
}