.footer__section {
    background-color: #51a259;
    padding: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

ul li {
    list-style: none;
    color: #F7DB6E;
    font-weight: bold;
}

/* li:last-child {
    border-bottom: 1px solid black;
} */

#copyright {
    color:#F7DB6E;
    padding-bottom: 10px;
    content: "";
    display: block;
    padding-top: 10px;
    border-top: 1px solid #4c7462;
    width: 75%;
    margin-left: 40px;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: #F7DB6E;
    font-weight: bold;
}

i {
    padding-right: 10px;
}