
.Quote__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
    max-width: 700px;
    background-color: #f8fafd;
    padding: 5px;

}

.Quote__container {
    display: flex;
}

.Quote__button {
    height: 20px;
    width: 20px;
    margin: 0 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.Quote__button::before {
    content: "";
    height: 6px;
    width: 6px;
    background-color: #dcdcdc;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.Quote__button:hover::before {
    background-color: #51a259;
}

.Quote__button--active::before {
    background-color: #51a259;
}