/* body {
    max-width: 1024px;
    margin: 0 auto;
} */

header {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
    /* display: inline-block; */
}

header ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 15px;
    margin-right: 10px;
}

.logo-thumbnail {
    height: 115px;
}

header li a {
    text-decoration: none;
    color: black;
}

.logo-links {
    height: 25px;
    width: 25px;
}

.checked {
    color: blue;
}


