/* body {
    max-width: 1024px;
    margin: 0 auto;
} */

header {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
    /* display: inline-block; */
}

header ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 15px;
    margin-right: 10px;
}

.logo-thumbnail {
    height: 115px;
}

header li a {
    text-decoration: none;
    color: black;
}

.logo-links {
    height: 25px;
    width: 25px;
}

.checked {
    color: #3a559f;
}

.check {
    color: #72aafc;
}

.star {
    color: #FCDC32;
}

.website-reviews {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}

.website-reviews  ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 15px;
  }

.review-rating {
    color: black;
    font-size: 15px;
    font-weight: lighter;
}

.emergency-subheader {
    background-color:red;
    color:white;
    padding: 5px;
    text-align: center;
}